@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
$body : radial-gradient(circle at 75vw 20vh,#777 0%, #eee 10%, #333 12%);
$content: #eee;
body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background: $body;
  overflow: hidden;
}
section{
  height: 100vh;
  width: 100vw;
  position: fixed;
  background: transparent;
  z-index:-1;
  .star{
    position: absolute;
    background-image: url('../star.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 0px;
    top:0px;
    z-index: 1;
    @for $i from 1 through 10{
      &:nth-child(#{$i}){
        $d : (random(4)+4)+px;
        $x:random(1000)*0.1vw;    
        $y:random(700)*0.1vh;    
        height: $d;
        width: $d;
        transform: translate($x,$y);
        animation: twinkle (random(15)+6)+s linear infinite  
      }
    }
    @keyframes twinkle{
      0%,20%,40%,60%,80%,100%{
        opacity: 0;
      }
      10%,30%,50%,70%,90%{
        opacity: 1;
      }
    }
  }  
}

h1 {
  display:none;
  position: absolute;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  color: $content;
  text-transform: uppercase;
  left: 50%;
  top: 58%;
  margin-left: -20px;
}

.body {
  position: absolute;
  top: 50%;
  margin-left: -50px;
  left: 0%;
  animation: speeder 12s linear infinite;

  > span {
    height: 5px;
    width: 35px;
    background: $content;
    position: absolute;
    top: -19px;
    left: 60px;
    border-radius: 2px 10px 1px 0;
  }
}

.base {
  span {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-right: 100px solid $content;
    border-bottom: 6px solid transparent;

    &:before {
      content: "";
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background: $content;
      position: absolute;
      right: -110px;
      top: -16px;
    }

    &:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-right: 55px solid $content;
      border-bottom: 16px solid transparent;
      top: -16px;
      right: -98px;
    }
  }
}

.face {
  position: absolute;
  height: 12px;
  width: 20px;
  background: $content;
  border-radius: 20px 20px 0 0;
  transform: rotate(-40deg);
  right: -125px;
  top: -15px;

  &:after {
    content: "";
    height: 12px;
    width: 12px;
    background: $content;
    right: 4px;
    top: 7px;
    position: absolute;
    transform: rotate(40deg);
    transform-origin: 50% 50%;
    border-radius: 0 0 0 2px;
  }
}

.body > span > span:nth-child(1),
.body > span > span:nth-child(2),
.body > span > span:nth-child(3),
.body > span > span:nth-child(4) {
  width: 30px;
  height: 1px;
  background: $content;
  position: absolute;
  animation: fazer1 .2s linear infinite;
}

.body > span > span:nth-child(2) {
  top: 3px;
  animation: fazer2 .4s linear infinite;
}

.body > span > span:nth-child(3) {
  top: 1px;
  animation: fazer3 .4s linear infinite;
  animation-delay: -1s;
}

.body > span > span:nth-child(4) {
  top: 4px;
  animation: fazer4 1s linear infinite;
  animation-delay: -1s;
}

.clouds{
  height: 60vh;
  width: 100vw;
  position: absolute;
  background: transparent;
  z-index:-1;
  bottom:-40vh;
  .cloud{
    position: absolute;
    background-image: url('../cloud.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    height: 60vw;
    width: 100vw;
    &1{
      animation: cloud1 20s linear infinite;
      opacity: 0.8;
      top: -10vh;
    }
    &2{
      animation: cloud2 25s linear infinite;
      opacity: 0.6;
    }
    &3{
      animation: cloud3 35s linear infinite;  
    }
    &4{
      animation: cloud3 25s linear infinite; 
      animation-delay: 10s; 
      left:105vw;
      opacity: 0.5;
      top: -10vh;
    }
    &5{
      animation: cloud3 35s linear infinite; 
      animation-delay: 10s; 
      left: 105vw;
      opacity: 0.9;
    }
  } 
}  
@keyframes cloud1{
  0%{
    left: 105vw;
  }
  100%{
    left: -90vw;
  }
}
@keyframes cloud2{
  0%{
    left: 105vw;
  }
  100%{
    left: -90vw;
  }
}
@keyframes cloud3{
  0%{
    left: 105vw;
  }
  100%{
    left: -90vw;
  }
}
@keyframes cloud4{
  0%{
    left: 105vw;
  }
  100%{
    left: -90vw;
  }
}
@keyframes cloud5{
  0%{
    left: 105vw;
  }
  100%{
    left: -90vw;
  }
}
@keyframes fazer1 {
  0% {
    left: 0;
  }
  100% {
    left: -80px;
    opacity: 0;
  }
}

@keyframes fazer2 {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
    opacity: 0;
  }
}

@keyframes fazer3 {
  0% {
    left: 0;
  }
  100% {
    left: -50px;
    opacity: 0;
  }
}

@keyframes fazer4 {
  0% {
    left: 0;
  }
  100% {
    left: -150px;
    opacity: 0;
  }
}

@keyframes speeder {
  0% {
    transform: translate(2px, 1px) rotate(0deg);
    left: -10vw;
  }
  10% {
    transform: translate(-1px, -3px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 3px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-2px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(2px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
    left:110vw;
  }
}

.longfazers {
  position: absolute;
  width: 100%;
  height: 100%;

  span {
    position: absolute;
    height: 2px;
    width: 20%;
    background: $content;

    &:nth-child(1) {
      top: 20%;
      animation: lf .6s linear infinite;
      animation-delay: -5s;
    }

    &:nth-child(2) {
      top: 40%;
      animation: lf2 .8s linear infinite;
      animation-delay: -1s;
    }

    &:nth-child(3) {
      top: 60%;
      animation: lf3 .6s linear infinite;
    }

    &:nth-child(4) {
      top: 80%;
      animation: lf4 .5s linear infinite;
      animation-delay: -3s;
    }
  }
}

@keyframes lf {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf2 {
  0% {
    left: 200%;
  }
  100% {
    left: -200%;
    opacity: 0;
  }
}
@keyframes lf3 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
@keyframes lf4 {
  0% {
    left: 200%;
  }
  100% {
    left: -100%;
    opacity: 0;
  }
}
